@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #1A458F;
  --primary-light: #3497F5;
  --secondary-dark: #333333;
  --secondary-light: #FFFFFF;
  --secondary-light-hover: #D5D5D5;
  --accent-light: #FFB922;
  --accent-dark: #D7970C;
}

html {
  font-family: var(--font-noto-display);
}
